
/* Background color for the container */
.container {
  background-color: #B3E5FC; /* Dark primary color */
  padding: 20px;
  border-radius: 10px;
}

/* Styles for the table */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff; /* Background color for the table */
  border: 1px solid #bdbdbd; /* Divider color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  border: 1px solid #bdbdbd; /* Divider color */
  padding: 8px;
  text-align: center;
}

/* Styles for the table header */
.table th {
  background-color: #0288D1; /* Dark primary color */
  color: #ffffff; /* Text/icons color */
}

/* Styles for the table rows */
.table tbody tr {
  background-color: #B3E5FC; /* Dark primary color */
}

/* Styles for the 'Loading' and 'Error' alerts */
.alert {
  background-color: #448aff; /* Accent color */
  color: #ffffff; /* Text/icons color */
  border: 1px solid #448aff; /* Accent color */
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
