<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Doctor</title>
    <style>
        body {
            background-color: #b3e5fc;
            /* Light Primary Color */
            color: #212121;
            /* Primary Text Color */
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .delete-doctor-container {
            background-color: #0288d1;
            /* Dark Primary Color */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h2 {
            color: #ffffff;
        }

        input[type="text"] {
            width: calc(100% - 30px);
            padding: 8px;
            border: 1px solid #ffffff;
            /* Text/Icons Color */
            border-radius: 5px;
            background-color: ffffff;
            color: #212121;
            /* Text/Icons Color */
            margin-top: 10px;
        }

        button {
            background-color: #03a9f4;
            /* Primary Color */
            color: #ffffff;
            /* Text/Icons Color */
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #448aff;
        }

        .feedback-message {
            margin-top: 20px;
            font-size: 18px;
        }

        .doctor-item {
            width: calc(20%);
            background-color: #0288d1;
            color: #212121;
            padding: 20px;
            margin: 10px 0;
            border-radius: 10px;
        }

        .divider {
            border-top: 1px solid #bdbdbd;
            margin: 20px 0;
        }
    </style>
</head>

<body>
    <%- include("adminNavBar", {adminId: userId}) %>
        <div class="delete-doctor-container">
            <h2>Delete Doctor</h2>
            <form id="deleteDoctorForm">
                <input type="text" name="username" placeholder="Doctor Username" required><br>
                <button onclick="deleteDoctor('<%= userId%>')">Delete Doctor</button>
            </form>
            <div id="feedbackMessage"></div>

            <div class="doctor-item">
                <h3>Doctors</h3>
                <% if (locals.doctors) { %>
                    <% doctors.forEach(doctor=> { %>
                        <p>
                            Username: <%= doctor.username %>
                        </p>
                        <div class="divider"></div>
                        <% }) %>
                            <% } %>
            </div>

            <script>
                function deleteDoctor(userId) {
                    const username = document.querySelector('input[name="username"]').value;
                    fetch(`/admins/deleteDoctor/${userId}/?username=${username}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => {
                            if (response.ok) {
                                // // Redirect to the updated page after successful deletion
                                // window.location.href = `/admins/deleteAdmin/${userId}`;
                            } else {
                                throw new Error('Failed to delete package');
                            }
                        })
                        .catch(error => {
                            // Handle errors
                            console.error(error);
                        });
                }
            </script>
        </div>
</body>

</html>