<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Page</title>
    <style>
        .div-for-button {
            background-color: #0288D1;
            color: #ffffff;
            font-family: Arial, sans-serif;
            padding: 20px;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .button {
            background-color: #03a9f4;
            color: #ffffff;
            border: none;
            padding: 15px 30px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #448aff;
        }
    </style>
</head>

<body>
    <div class="div-for-button">
        <a href="/doctors/doctorHome/<%= doctorId %>" class="button">Home Page</a>
    </div>
</body>

</html>